// Please set the configuration below
module.exports = {
	screeps: {
		username: 'screepsUsernameHere',
		password: 'screepsPasswordHere',
		method: 'memory.stats', // Valid Options: 'console' 'memory.stats'
//		segment: 99 // Uncomment this line and specify segment id if you're placing stats into segment
	},
	service: {
		url: 'https://screepspl.us',
		token: 'apitoken'	// Token supplied upon account creation
	},
	checkForUpdates: true,
	showRawStats: false, // This dumps stats to console on every push if enabled
	sampleConfig: true // REMOVE THIS LINE BEFORE RUNNING
}
