// Please set the configuration beow
module.exports = {
	screeps: {
		username: 'screepsUsernameHere',
		password: 'screepsPasswordHere'
	},
	service: {
		url: 'https://screepspl.us',
		token: 'apitoken'	// Token supplied upon account creation
	},
	checkForUpdates: true,
	sampleConfig: true // REMOVE THIS LINE BEFORE RUNNING
}
