// Please set the configuration below
module.exports = {
	screeps: {
		username: 'screepsUsername',
		password: 'screepsPassword'
	},
	influxdb: {
		url: 'http://163.172.183.243:8086', // Current testing URL
		database: 'influxDB Database name', 
		auth: {
			user: 'influx User',
			pass: 'influx Pass'
		}
	}
}
